<div class="ui grid">
	<!-- ROSTER -->
	<div class="ui four wide column">
		<div class="ui segments">
			<div class="ui segment">
				<form #userSearchForm="ngForm" (ngSubmit)="searchUsers(userSearchForm)">
					<div class="ui search">
						<div class="ui icon input">
							<input class="prompt" type="text" placeholder="Chat or Contact..." name="name" ngModel>
							<i class="search icon"></i>
						</div>
					</div>
				</form>
			</div>
			<div class="ui segment">
				<div *ngIf="userSearch">
					<div class="ui relaxed list divided">
						<div class="item" *ngFor="let user of usersFound">
							<img class="ui avatar image" src="{{ user.avatar }}">
							<div class="content">
								<a class="header" (click)="selectUser(user)">{{ user.name | truncate:15  }}</a>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="!userSearch">
					<div class="ui relaxed list divided">
						<div class="item" *ngFor="let chat of chats">
							<img class="ui avatar image" src="{{ chat.last_message.sender.avatar }}" *ngIf="chat.last_message">
							<img class="ui avatar image" src="{{ chat.members[0].avatar }}" *ngIf="!chat.last_message">

							<div class="content">
								<a class="header" (click)="selectChat(chat)">{{ chat.name | truncate:15  }}</a>
								<div class="description" *ngIf="chat.last_message">{{ chat.last_message.message | truncate:15 }}</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- CHAT CONTENT -->
	<div class="ui twelve wide column segments">
		<div class="ui internally celled grid" *ngIf="selectedChat">
			<div class="row segments">
				<div class="twelve wide column">
					<div class="ui middle aligned divided list">
						<div class="item" *ngFor="let message of selectedChat.messages" >
							<img class="ui avatar image" src="{{ message.sender.avatar }}">
							<div class="content">
								<div class="header">{{message.sender.name}} [{{message.date_created|date}}]</div>
								<div class="description">
									{{ message.message }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="four wide column">
					<div class="ui middle aligned divided list">
						<div class="item" *ngFor="let member of selectedChat.members">
							<img class="ui avatar image" src="{{ member.avatar }}">
							<div class="content">
								<a class="header" (click)="selectUser(member)">{{ member.name }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="sixteen column wide">
					<form #messageForm="ngForm" (ngSubmit)="sendMessage(messageForm)">
						<div class="ui fluid action input">
							<input type="text" placeholder="Write a Message..." name="message" ngModel>
							<button class="ui button" type="submit">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>